<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ipNX</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="/static/device-mockups/device-mockups.min.css">

  <!-- Custom styles for this template -->

  <link href="/static/css/strre.css" rel="stylesheet">
  <link href="/static/logo.png" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
  

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#" style="color:rgb(23, 25, 28)"><img src="/static/logo.png" alt="" style="width:80px"> Nigeria</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" data-toggle="modal" data-target="#add_site">Add</a>
          </li>
          <li class="nav-item">
              <div class="dropdown">
                <button class="dropbtn">Reports</button>
                  <div class="dropdown-content">
                  <a href="{{ url_for('index') }}">Open Report</a> 
                  <a href="{{ url_for('closed_Report') }}">Closed Report</a>
                </div>
              </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <button class="dropbtn">Download</button>
                <div class="dropdown-content">
                  <a href="">Daily Report</a> 
                  <a href="" class="nav-link js-scroll-trigger" data-toggle="modal" data-target="#download">Custom Report</a>
                </div>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for('register') }}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ url_for('logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--FOR ADDING NEW  REPORT-->
    <div class="modal" tabindex="-1" role="dialog" id="add_site">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add New Report</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="/update/add">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                        <label class="text-dark">Node/Service Name:</label>
                        <select class="form-control" name="name">
                          <option name="layer2" selected>MTN</option>
                          <option name="layer3">GLO</option>
                          <option name="layer2">IHS</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                      <div class="form-group">
                        <label class="text-dark">Outage Date:</label>
                        <input type="date" class="form-control" name="outagedate" required>
                      </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label class="text-dark">Outage Time:</label>
                      <input type="time" class="form-control" name="outagetime" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                        <label class="text-dark">Affected POPs/Services:</label>
                        <select class="form-control" name="affectname">
                          <option name="layer2" selected>MTN</option>
                          <option name="layer3">GLO</option>
                          <option name="layer2">IHS</option>
                        </select>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                        <label class="text-dark">Fault Owner:</label>
                        <select class="form-control" name="fowner">
                          <option name="layer2" selected>MTN</option>
                          <option name="layer3">GLO</option>
                          <option name="layer2">IHS</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                        <label class="text-dark">Cause of Outage:</label>
                        <select class="form-control" name="cause">
                          <option name="layer2" selected>MTN</option>
                          <option name="layer3">GLO</option>
                          <option name="layer2">IHS</option>
                        </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label class="text-dark">Outage Details:</label>
                      <textarea rows="5" class="form-control" name="details" required></textarea>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <br/>
    <!--FOR DOWNLOADING NEW  REPORT-->
    <div class="modal" tabindex="-1" role="dialog" id="download">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Download Report</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="/daily_report">
                <div class="row">
                  <div class="col">
                      <div class="form-group">
                        <label class="text-dark">Device:</label>
                        <select name="device" id="devices">
                          <option value="some">All Devices</option>
                          <option value="som">Routers</option>
                          <option value="somee">OLT</option>
                          <option value="somem">Whiteboxes</option>
                        </select>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                      <div class="form-group">
                        <label class="text-dark">Start Date:</label>
                        <input type="date" class="form-control" name="startdate" required>
                      </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label class="text-dark"> End Date:</label>
                      <input type="date" class="form-control" name="enddate" required>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col">
                        <div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <br/>

  <div class="masthead">
    <div class="con">
      {%with messages = get_flashed_messages()%}
        {%if messages%}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label ="close">
                <span aria-hidden="true">&times;</span>
             </button>
             {{message}}
            </div>
          {%endfor%}
        {%endif%}
      {%endwith%}
    </div>
  </div>
  <br/>
  <div class="container-fluid">
    {%if repo or rep%}  
      <table class="table">
        <tr class=" text-light" style="background-color: rgb(100, 100, 100)">
          <th>S/N</th>
          <th>Node/Service Name</th>
          <th>Outage Date</th>
          <th>Outage Time</th>
          <th>Fault Owner</th>
          <th>Cause of Outage</th>
          <th>Outage Detail</th>
          <th>Affected POPs/Services</th>
          <th>Name of Reporter</th>
          <th>Action</th>
        </tr>
          <tbody>
            {% for row in repo %}
                  <tr style="background-color: white">
                      <td>{{row.id}}</td>
                      <td>{{row.name}}</td>
                      <td>{{row.outagedate}}</td>
                      <td>{{row.outagetime}}</td>
                      <td>{{row.fowner}}</td>
                      <td>{{row.cause}}</td>
                      <td>{{row.details}}</td>
                      <td>{{row.affectname}}</td>
                      <td>{{row.repname}}</td>
                      <td>
                          <a href="{{ url_for('update', repo_id=row.id) }}" class="nav-link js-scroll-trigger" onclick="return confirm('Are You Sure you want to close report?')" style="color: blue">Close</a>
                          <a href=""  onclick="return confirm('Are You Sure you want to delete report?')" style="color: red">Delete</a>
                      </td>
                  </tr>

                  <!--FOR CLOSING NEW  Report-->
                  <div id="close_report" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Close Report</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                          </div>
                          <div class="modal-body">
                              <form method="post" action="{{ url_for('update', repo_id=row.id) }}">
                                <div class="row">
                                  <div class="col">
                                      <div class="form-group">
                                        <label class="text-dark">Resolution Date:</label>
                                        <input type="date" class="form-control" name="resolutiondate" required>
                                      </div>
                                  </div>
                                  <div class="col">
                                    <div class="form-group">
                                      <label class="text-dark"> Resolution time:</label>
                                      <input type="time" class="form-control" name="resolutiontime" required>
                                    </div>
                                  </div>
                                </div>
                              <div class="row justify-content-center">
                                  <div class="col">
                                      <div>
                                          <button type="submit" class="btn btn-primary">close</button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>    
                  {% endfor %}
                  {% for row in rep %}
                  <tr style="background-color: white">
                    <td>{{row.id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.outagedate}}</td>
                    <td>{{row.outagetime}}</td>
                    <td>{{row.resolutiondate}}</td>
                    <td>{{row.resolutiontime}}</td>
                    <td>{{row.fowner}}</td>
                    <td>{{row.cause}}</td>
                    <td>{{row.details}}</td>
                    <td>{{row.affectname}}</td>
                    <td>{{row.repname}}</td>
                    <td>{{row.closename}}</td>
                      <td>
                        <a href="#"  style="color: red">Closed</a>
                    </td>
                  </tr>
                  {% endfor %}
                  {%else%}
                  <div class="bg-text">
                    <br/>
                              <br/><br/>
                               <h1>ipNX Nigeria</h1>
                               <p>Site List Application</p>
                               <br/><br/>
                             </div>
                  </div>
                 
                {%endif%}
                
        </tbody>
      </table>
    <br/>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/new-age.min.js"></script>

</body>

</html>
